*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#020617;
}

.logo{
font-size:22px;
font-weight:bold;
color:#38bdf8;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

.banner{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#0284c7,#1e3a8a);
}

.hero-section{
padding:50px;
}

.hero-container{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.hero-card{
background:#1e293b;
border-radius:15px;
padding:20px;
width:200px;
text-align:center;
text-decoration:none;
color:white;
transition:0.3s;
}

.hero-card:hover{
transform:scale(1.05);
background:#334155;
}

.hero-card img{
width:100%;
border-radius:10px;
}

.guide{
padding:50px;
text-align:center;
}

.hero-img{
width:200px;
margin:20px 0;
}

ul{
list-style:none;
margin-top:10px;
}

ul li{
background:#1e293b;
padding:10px;
margin:5px;
border-radius:8px;
}